<!doctype html>
<html lang="en" style="height: 100%;">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="{{ url_for('static', filename='javascript/snap.svg-min.js') }}"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">

    <title>{% block title %} {% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="/static/Logo.png">
    {% block head %} {% endblock %}
  </head>
  <body style="background-image: url('static/background.jpg'); background-size: cover; height: 100%;">
    <nav class="navbar navbar-expand-md navbar-light bg-light" style="opacity: 0.75;">
      <a class="navbar-brand ml-sm-2">Alak</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="{{ url_for('index')}}">New Game</a>
          <a class="nav-item nav-link" href="{{ url_for('record')}}">Record</a>
          <a class="nav-item nav-link" href="{{ url_for('ranking')}}">Ranking</a>
        </div>
      </div>
      <div class="form-inline my-2 my-lg-0">
        <a class="btn text-secondary mr-sm-2" style="font-size: 12px;" href="{{ url_for('signUp')}}">SIGN UP</a>
        <a class="btn btn-outline-warning my-2 mr-sm-2" style="font-size: 12px;" href="{{ url_for('signIn')}}">SIGN IN</a>
      </div>
    </nav>
    
    {% block content %} {% endblock %}

    <svg>
      <defs>
        <filter id="outer-shadow" x="-40%" y="-40%" width="100%" height="100%" filterUnits="userSpaceOnUse">
          <feGaussianBlur in="SourceAlpha" stdDeviation="0.25"/> <!-- stdDeviation is how much to blur -->
          <feOffset dx="0.25" dy="0.25" result="offsetblur"/> 
          <feMerge> 
            <feMergeNode/>
            <feMergeNode in="SourceGraphic"/>
          </feMerge>
        </filter>

        <filter id="inset-shadow" x="-40%" y="-40%" width="200%" height="200%">
          <feComponentTransfer in=SourceAlpha>
            <feFuncA type="table" tableValues="1 0" />
          </feComponentTransfer>
          <feGaussianBlur stdDeviation="0.5"/>
          <feOffset dx="-0.25" dy="-0.25" result="offsetblur"/>
          <feComposite in2="offsetblur" operator="in"/>
          <feComposite in2="SourceAlpha" operator="in" />
          <feMerge>
            <feMergeNode in="SourceGraphic"/><feMergeNode />
          </feMerge>
        </filter>
      </defs>

      <g id="piece-black" filter="url(#outer-shadow)" class="piece" cx="0" cy="0">
        <circle r="1.9" fill="#333333" filter="url(#inset-shadow)"/>
      </g>
      <g id="piece-white" filter="url(#outer-shadow)" class="piece" cx="0" cy="0">
          <circle r="1.9" fill="#FFFFFF" filter="url(#inset-shadow)"/>
      </g>
    </svg>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>